

<%- include('partials/header') %>
<div class="container">

    <div>
        <h1>Personal Finance Advisor Project</h1>
        <p>Financial advisor application. Users can input their salary, preferred currency, and desired annual interest rate. The system calculates the maximum loan amount they can obtain, the repayment plan, and the total interest paid over the loan term.</p>
        
    </div>
    
    <%if(user){%>
    <div>
        <form action="/show" method="post">
            <button type="submit" class="btn btn-primary">Discover your plans</button>
        </form>
    </div>
    <div style="margin-bottom: 1em;"></div>
    <div>
        <form action="/newLoan" method="post">
            <button type="submit" class="btn btn-primary">Make a new plan</button>
        </form>
    </div>
    <%}else{%>
    <div>
        <h3>Please, login or register to proceed!</h3>
    </div>
    <%}%>
</div>
<%- include('partials/footer') %>
<!-- ТУДУ:
тебе надо:
переписать апишку чтоб делались запросы к роутам апи, и возвращался json
потом наконец написать логику
на хоумпэйдж передавай изАут и рендери в зависимости от этого лист планов
ну и форма чтоб сделать новый -->